<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>About the Toastmasters Agenda website</h4>

<p>
    The Toastmasters Agenda project is an open source .NET Core solution conceived and created 
    by <a href="http://www.cognitiveinheritance.com">Barry S. Stahl</a>. 
    The code repository can be found on <a href="https://github.com/bsstahl/ToastmastersAgenda/">GitHub</a> and both 
    the project and this website are provided under the terms
    of the <a href="https://raw.githubusercontent.com/bsstahl/ToastmastersAgenda/master/LICENSE">MIT License</a>.
</p>

<p>
    Like many open source projects, it was created to solve the specific problems we were facing and was 
    then opened-up to possibly help other clubs. As a result, the features may be somewhat specific to the
    way our club does things. Efforts have been made to make things as generic and configurable as possible,
    but since you can't know what you don't know, we need your help to understand what other needs there are.
</p>

<p>
    Please submit the feature requests that would help your club on 
    our <a href="https://github.com/bsstahl/ToastmastersAgenda/issues">GitHub Issues Page</a>.
</p>
