<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>A tool for quickly creating agendas for Toastmasters meetings</h4>
<p><strong>First time users</strong>: Go to the <a href="/Config">Config page</a> to setup the configuration 
    information for your club.
    </p>
<p>To create an agenda, go to the <a href="/Agenda">Agenda</a> page, fill out all of the needed information, and 
    press <strong>Create Agenda</strong>.  If the options available for selection are not right for your club, try
    to change them on the <a href="/Config">Config page</a>.</p>
<p>Feature requests can be submitted on our <a href="https://github.com/bsstahl/ToastmastersAgenda/issues">GitHub Page</a>.</p>
<br/>
<h4>Data Privacy</h4>
<p>
    All configuration information is stored in your browser and never kept on the server so there
    are no concerns about data privacy. We will never store your information on our servers and never use your information for 
    any purpose other than creating the agendas you specifically request. Unfortunately, this also means that if you use this tool 
    from a different browser, you will need to copy your configuration.  See
    the <a href="https://github.com/bsstahl/ToastmastersAgenda/wiki/Sharing-Configuration">project wiki</a> for
    information on how to do so.
</p>

